.shade {
    max-width: 100%;
    height: 1000px;
    background: rgba(177, 170, 170, 0.705) center center;
    background-size: cover;
}

h1 {

    font-size: 80px;
    color: rgb(10, 10, 10);
    margin: 140PX 150PX;
}

h2 {
    color: rgb(240, 13, 13);
    margin: -130PX 150PX;
}

.row {
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 130px;
    margin-right: -15px;
    margin-left: -15px;

    justify-content: flex-end;
    padding-right: 15%;
}

.col-lg {
    height: 200px;

    display: flex;
    width: 550px;
    flex-wrap: wrap;
}

.row_nav {

    margin-bottom: 4em;
    margin-top: 4em;
    width: 550px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.row_nav a {
    font-weight: bold;
}

.nav_item {
    display: flex;
    border-bottom: 4px solid red;
    align-items: center;
    color: red;

}

.nav_link {
    color: black;
    border-bottom: 4px solid black;

}