.area.area3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

}

.slidepic-container {
    height: 580px;
    /* display: flex;
    flex-wrap: wrap; */
    /* margin-top: 10px; */
    margin-right: -15px;
    margin-left: -15px;
    /* background: palegoldenrod; */
    overflow: hidden;
    display: flex;
}

.slidepic-wrap {
    display: flex;
    /* overflow: hidden; */
}

.wrap-box {
    width: 100%;
    height: 580px;
    animation: move 25s linear infinite;
    // background: peru;
}

.wrap-box img {
    height: 100%;
    object-fit: cover;
}

@keyframes move {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.video-area {
    height: 100px;
    margin-bottom: -100px;
    // background: palegreen;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.boxbox {
    width: 250px;
    height: 60px;
    background: whitesmoke;
    margin-top: 10px;
    display: flex;
    align-items: center;
    padding-left: 25px;
    font-size: 26px;
    transition: .5s;
}

.boxbox:hover {
    background: red;
}

.boxbox a {
    color: black;
    font-weight: bold;
    letter-spacing: 7px;
}