.row-tab {
    height: 480px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-right: -15px;
    margin-left: -15px;
    /* background: peachpuff; */
    flex-direction: row;
    justify-content: center;
}

.banner {
    width: 90%;
    height: 450px;
    display: flex;
    /* background: palegreen; */
    /* margin-right: 14%; */
    /* flex-wrap: wrap; */
    flex-direction: row;
}

.banner_block {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    /* overflow: hidden; */
    /* background: palevioletred; */
}

.banner_main_wrap {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 10px;
    /* overflow: hidden; */
    overflow: hidden;
    /* background: palegoldenrod; */
}

.banner_main_wrap:hover img {
    transform: scale(110%);
}

.banner_main_wrap>img {
    width: 100%;
    height: 100%;
    object-position: center center;
    object-fit: cover;
    transition: transform 500ms ease;
}

.banner_main_wrap:hover .text_wrap {
    transform: translateY(0%);
}

.text_wrap {
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    background: #0009;
    left: 0px;
    bottom: 0px;
    position: absolute;
    transition: transform 300ms ease;
    transform: translateY(100%);
}

.text_wrap1 {
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    background: #0009;
    left: 0px;
    bottom: 0px;
    position: absolute;
    transition: transform 300ms ease;
    transform: translateY(100%);
}

.text_wrap p {
    color: azure;
}

.text_wrap1 p {
    color: azure;
}

.banner_img_wrap {
    width: 47%;
    height: 48%;
    margin: 10px;
    background: powderblue;
    position: relative;
    overflow: hidden;
}

.banner_img_wrap:hover img {
    transform: scale(110%);
}

.banner_img_wrap:hover .text_wrap1 {
    transform: translateY(0%);
}

.banner_img_wrap>img {
    width: 100%;
    height: 100%;
    object-position: center center;
    object-fit: cover;
    transition: transform 500ms ease;
}

p {
    word-break: break-all;
}